<!-- some.component.html -->
<div *ngIf="hasPermission === undefined">

  <h2>Waiting for permissions.</h2>

  <blockquote>
    If your device does not has cameras, no permissions will be asked.
  </blockquote>

</div>
<div>
  Choiced devices {{currentDevice | json}}
</div>
<div>
  Cameras founds {{availableDevices | json}}
</div>
<div>
  Has Cameras {{hasDevices | json}}
</div>
<div>
  Result {{Result | json}}
</div>

<div>
  <zxing-scanner
    (scanSuccess)="onCodeResult($event)"
    (camerasFound)="onCamerasFound($event)"
    (permissionResponse)="onHasPermission($event)"
    [formats]="formatsEnabled"
    [(device)]="currentDevice"
    ></zxing-scanner>
    
  <section class="results" *ngIf="qrResultString">
    <div>
      <small>Result</small>
      <strong>{{ qrResultString }}</strong>
    </div>
    <!-- <button mat-icon-button (click)="clearResult()">&times;</button> -->
  </section>
</div>
<!-- 
<zxing-scanner
    [enable]="scannerEnabled"
    [(device)]="desiredDevice"
    [torch]="torch"
    (torchCompatible)="onTorchCompatible($event)"
    (camerasFound)="camerasFoundHandler($event)"
    (camerasNotFound)="camerasNotFoundHandler($event)"
    (scanSuccess)="scanSuccessHandler($event)"
    (scanError)="scanErrorHandler($event)"
    (scanFailure)="scanFailureHandler($event)"
    (scanComplete)="scanCompleteHandler($event)"
></zxing-scanner>
-->